.album {
    display: flex;
    border: 1px solid #222;
    border-radius: 30px;
    background-color: #ccc;
    padding: 10px 0;
}    

.album-title {
    margin-top: 0;
}

.album-cover {
    border-radius: 30px 0 0 30px;
}

.album-details {
    font-family: 'Arial', sans-serif;
    padding: 10px 20px;
}