.album {
    display: flex;
    border: 1px solid #222;
    border-radius: 30px;
    background-color: #ccc;
    width: 50%;
    margin-bottom: 10px;
}    

.album-title {
    margin-top: 0;
}

.album-cover {
    object-fit: cover;
    border-radius: 30px 0 0 30px;
}

.album-details {
    font-family: 'Arial', sans-serif;
    padding: 10px 20px;
}